body{
     margin: 10px 20% 30px 20%;
 	font: 12pt Comic Sans MS;
 }

h3, h5{
 	color:#191970;
 }

h3{
 	margin-bottom: -15px;
 }

h5{
 	margin-bottom: -5px;
 }

table {
 	width:100%
 }

.data{
    width:100%;
    border-radius: 10px;
    border: 1px solid grey;
 }

#diagram{
	width: 100%;
    height: 200px;
 }

#center_table{
 	padding-left: 10px;
 	padding-right: 10px;
 	width:20%
 }

#er{
     font: 9pt Comic Sans MS;
     color: red;
 }

#rot {
 	border-radius: 3px;
 }

#header{
 	height:5%;
 }

button{
     border: 0;
     background: white;
    height:25px;
 	width: 45px;
 }

.info{
     margin: 0 20%;
     width: 70%;
     background: #eee;
     border-radius: 10px;
     padding: 20px;
 }

.info a{
     float: right;
     margin-bottom: 10px;
 }

.info a:after{
    clear: both;
}

.tab{
    position: absolute;
    display: none;
    width:200px;
    height: 50px;
    background: rgba(255, 0, 0, 0.6);
}