 <!DOCTYPE html>
 <html>
     {% load staticfiles %}
 	<head>
 		<meta charset="UTF-8">
 		<title>Caesar</title>
 	    <link rel="stylesheet" type="text/css" href="{% static 'cipher/css/style.css' %}" />
         <link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
         {% block stylesheet %}{% endblock %}
    </head>
    <body>
         <div id="header">
             <h3>Шифр Цезаря</h3>
             <h5>Введите английский текст, который необходимо зашифровать/расшифровать и смещение</h5>
             <hr>
         </div>
         <div id="content">
             <p id="er"></p>
             <table >
                 <tr>
                     <td >
                         <textarea  class = "data" id="data1"  name="input"  rows="10"></textarea>
                     </td>
                     <td id="center_table"  align="center" >
                         <p>Смещение
                         <input id="rot" type="number" value=1 size="10" ></p>
                         <button id="left" name="button" title="Зашифровать"><img src="{% static 'cipher/images/left.png' %}" /></button>
                         <button id="right" name="button" title="Расшифровать" ><img src="{% static 'cipher/images/right.png' %}"/></button>

                     </td>
                     <td>
                         <textarea class = "data" id="data2" class="output" name="output"  rows="10" readonly></textarea>
                     </td>
                 </tr>
             </table>
         </div>
         <div id="diagram" class="ct-chart ct-golden-section" style="display: none" ></div>
         <div>
             <p>Попытаться угадать смещение</p>
             <input id="fr" type="radio" name="choice" value="fr" checked>По частоте<br>
             <input id="dic" type="radio" name="choice" value="dic">По словарю<br>
         </div>
         <div class="info" style="display: none">
              <a href=""><img src="{% static 'cipher/images/close.png' %}" /></a>
              <p id="message"></p>
         </div>

         <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
         <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
         <script src="{% static "cipher/js/main.js" %}"></script>
         {% block javascript %}{% endblock %}
 	</body>
 </html>